:host {
  display: block;
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #37474f;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  color: #37474f;
  margin-bottom: .5rem;
}

.market-data-table {
  width: 1200px;
  max-width: 100%;
  border-spacing: 0;
  color: #9e9e9e;
  margin-top: 1rem;
}

.error {
  text-align: center;
  font-size: 1.125rem;
  margin: 1.5rem 0;
  color: #f44336;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
