<div *ngIf="isLoading" class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<ng-template [ngIf]="!isLoading">
  <div *ngIf="errorLoading" class="error">An error occurred while loading data</div>
  <ng-template [ngIf]="!errorLoading">
    <div class="title">Market data</div>
    <div class="subtitle">Key data</div>
    <div *ngFor="let quote of quotes; trackBy: trackByFn" class="market-data-table">
      <app-market-data-field
        class="row start"
        label="Last"
        [value]="quote.fields.LVAL_NORM.v"
        [date]="quote.fields.LVAL_NORM.d"
        dateFormat="HH:mm:ss"
      ></app-market-data-field>
      <app-market-data-field
        class="row end"
        label="Close"
        [value]="quote.fields.CLOSE_ADJ_NORM.v"
        [date]="quote.fields.CLOSE_ADJ_NORM.d"
        dateFormat="dd/MM/YYYY"
      ></app-market-data-field>

      <app-market-data-field
        class="row start"
        label="Day Change %"
        [value]="quote.fields.NC2_PR_NORM.v"
        valueSuffix="%"
        [colorValue]="true"
      ></app-market-data-field>
      <app-market-data-field
        class="row end"
        label="Day Change"
        [value]="quote.fields.NC2_NORM.v"
        [colorValue]="true"
      ></app-market-data-field>

      <app-market-data-field
        class="row start"
        label="Volume"
        [value]="quote.fields.VOL.v"
        valueSuffix=" M"
      ></app-market-data-field>
      <app-market-data-field
        class="row end"
        label="Turnover"
        [value]="quote.fields.TUR.v"
        valueSuffix=" M"
      ></app-market-data-field>

      <app-market-data-field
        class="row start"
        label="Previous year close"
        [value]="quote.fields.PY_CLOSE.v"
        [date]="quote.fields.PY_CLOSE.d"
        dateFormat="dd/MM/YYYY"
      ></app-market-data-field>
      <app-market-data-field
        class="row end"
        label="YTD %"
        [value]="quote.fields.YTD_PR_NORM.v"
        valueSuffix="%"
        [colorValue]="true"
      ></app-market-data-field>
    </div>
  </ng-template>
</ng-template>
