:host {
  display: grid;
  grid-template-columns: 200px auto 300px;
  &.start {
    .cell {
      padding-top: .625rem;
      padding-bottom: .125rem;
    }
    &:first-child {
      border-top: 1px solid rgba(#000, .12);
    }
  }
  &.end {
    border-bottom: 1px solid rgba(#000, .12);
    .cell {
      padding-top: .125rem;
      padding-bottom: .625rem;
    }
  }
}

.cell {
  padding: .25rem 1rem;
  &.value {
    text-align: right;
  }
  &.date {
    text-align: right;
  }
}
