<div class="cell">{{ label }}</div>
<div
  class="cell value"
  [class.text-red]="formatValue && value && value < 0"
  [class.text-green]="formatValue && value && value > 0"
>{{ value }}{{ valueSuffix }}</div>
<div class="cell date"><ng-template [ngIf]="date">{{ date | date: dateFormat }}</ng-template></div>
